.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Style for each slide */
.slider-slide {
  position: relative;
  height: calc(100vh - 4rem);
  overflow: hidden;
  width: 100%;
}

/* Style for the image in each slide */
.slider-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
  /* Style for the text and button overlay */
  .slider-content {
    position: absolute;
    /* bottom: 50%; */
    top: 40%;
    left: 20%;
    transform: translateX(-50%);
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* padding: 10px 20px; */
    /* text-align: center; */
    /* border-radius: 5px; */
  }
  
  .slider-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .slider-content p {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  
  .slider-content button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    transition: 300ms ease;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .slider-container button:hover{
    background-color: black;
  }
  

  @media screen and (max-width: 1024px) {
    .slider-slide {
      height: calc(100vh - 3rem); /* Decrease the height for smaller screens */
    }
  
    .slider-content {
      top: 25%;
      left: 30%; /* Adjust the vertical positioning for smaller screens */
    }
  
    .slider-content h3 {
      font-size: 3rem; /* Decrease font size for smaller screens */
    }
  
    .slider-content p {
      font-size: 1.3rem; /* Decrease font size for smaller screens */
    }
  }

  @media screen and (max-width: 600px) {
    .slider-slide {
      height: calc(100vh - 4rem); /* Decrease the height for even smaller screens */
    }
  
    .slider-content {
      top: 25%; /* Further adjust the vertical positioning for smaller screens */
    }
  
    .slider-content h3 {
      font-size: 2rem; /* Decrease font size for even smaller screens */
    }
  
    .slider-content p {
      font-size: 1rem; /* Decrease font size for even smaller screens */
    }
  }