.products-header{
    margin: 2rem 8rem;
}

.products-header h1{
    padding-bottom: 2rem;
}

.products-header .product-header-list{
    padding-top: 2rem;
}

.product-header-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}

.product-header-list a:hover{
    text-decoration: underline;
    color: var(--primary-color);
}