/* ProductsCard.css */

.product-card {
    position: relative;
    max-width: 20rem;
    max-height: 25rem;
    margin: 3rem 0;
  }
  .disp-flex{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .product-card img {
    max-width: 20rem;
    max-height: 25rem;
    margin-bottom: 1rem;
    transition: transform 500ms ease;
  }
  
  .product-name {
    color: rgb(119, 119, 119);
    margin-bottom: 0.5rem;
  }
  
  .product-card img:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  
  .quick-view-btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s ease 100ms; /* Add transition-delay */
    opacity: 0; /* Initially set opacity to 0 */
  }
  
  .product-card:hover .quick-view-btn {
    visibility: visible;
    opacity: 1; 
  }
  
  .quick-view-btn button {
    background-color: black;
    border: transparent;
    color: white;
    transition: 500ms ease;
    padding: 8px;
    border-radius: 18px;
    cursor: pointer;
  }
  
  .quick-view-btn button:hover {
    background-color: rgb(255, 255, 255);
    border: transparent;
    color: rgb(0, 0, 0);
    padding: 8px;
    border-radius: 18px;
    cursor: pointer;
  }


  /* Additional styling as needed */

  @media screen and (max-width:600px) {
    .product-card{
      width: 8rem;
      /* margin: 0; */
      height: 10rem;
      margin: 3rem 0;
      /* overflow: hidden; */

    }
    .product-card img{
      width: 8rem;
      height: 10rem;
    }
    .product-card p{
      font-size: 0.9rem;
    }
    
  }
  